{% load static %}
<!doctype html>
<html>
  <head>
    <title>Book Reviews</title>
    <link rel="stylesheet" href="{% static 'book-review.css' %}">
  </head>
  <body>
    <header>
      <div>My Book Reviews</div>
      <nav>
        <a href="{% url 'create_review' %}">Create a review</a>
      </nav>
    </header>
    <main>
      {% for review in reviews %}
      <div class="main-page-book-review">
        <img class="book-cover" src="{{ review.cover_image }}">
        <h2 class="book-title">
          <a href="{% url "review_detail" review.id %}">{{ review.title }}</a>
        </h2>
      <div class="book-rating">{{ review.rating }} stars</div>
      <div class="book-authors">
        {{ review.authors }}
      </div>
      <h3>Summary</h3>
      <p>
        {{ review.summary }}
      </p>
      </div>
    {% endfor %}
      <!-- <div class="main-page-book-review">
        <img src="https://mks.io/impractical-python-projects.jpg" class="book-cover">
        <h2 class="book-title">Impractical Python Projects</h2>
        <div class="book-rating">4.5 stars</div>
        <div class="book-authors">
          By Lee Vaughan
        </div>
        <h3>Summary</h3>
        <p>
          Impractical Python Projects is a collection of fun and educational 
          projects designed to entertain programmers while enhancing their 
          Python skills. It picks up where the complete beginner books leave off, 
          expanding on existing concepts and introducing new tools that you'll use every day.
        </p>
      </div> -->
    </main>
    <footer>
      <div>
        Copyright 2022 by me
      </div>
      <p>
        This is my site that contains all of my book reviews
        that you can read to see if you'd like that book.
      </p>
    </footer>
  </body>
</html>
